deployfolder/flows/KeepItSafe_Send_Survey_Email_Close.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>KeepItSafe_send_email_survey</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>KeepitSafe send email</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <actionName>Case.KeepItSafe_send_email_survey</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>LiveVault_send_email_survey</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A3</name>
        <label>Send Survey Email For LiveVault</label>
        <locationX>500</locationX>
        <locationY>400</locationY>
        <actionName>Case.LiveVault_send_email_survey</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>KeepitSafe Case is Closed/Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>LiveVault Case Resolved/Closed</label>
        </rules>
    </decisions>
    <description>This process will be used to send survey to customers of Keepitsafe and LiveVault Added EU regions</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_4593047876</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_3158736960</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A2_1611355164</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_7449038867</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
	NOT( ISBLANK( [Case].ContactId ) ),
        NOT(ISBLANK($User.Division ) ),

        OR(
              $User.Division = &apos;US-CA-Hollywood&apos;,
              $User.Division = &apos;US-MA-Marlborough&apos;,
$User.Division  = &apos;IE-Dublin&apos;,
				$User.Division  = &apos;DK-Copenhagen&apos;,
				$User.Division  = &apos;NO-Oslo&apos;,
				$User.Division  = &apos;NL-Almere&apos;
        ),

	ISPICKVAL([Case].Status , &apos;Resolved&apos;), 

	OR([Case].RecordType.DeveloperName =&apos;Keepitsafe_Record_Type&apos;,
               ISPICKVAL([Case].Product__c ,&apos;Send2Cloud&apos;)
        ),
	OR(
		ISBLANK([Case].Contact.Last_Survey_Sent_Date__c),
		
			Today() &gt; (([Case].Contact.Last_Survey_Sent_Date__c ) + 30)	
	),        
       
               NOT(ISPICKVAL([Case].Origin , &apos;billinginquiries@keepitsafe.com&apos;)) 
) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	NOT( ISBLANK( {!myVariable_current.ContactId} ) ),
        NOT(ISBLANK({!$User.Division} ) ),

        OR(
              {!$User.Division} = &apos;US-CA-Hollywood&apos;,
              {!$User.Division} = &apos;US-MA-Marlborough&apos;,
{!$User.Division}  = &apos;IE-Dublin&apos;,
				{!$User.Division}  = &apos;DK-Copenhagen&apos;,
				{!$User.Division}  = &apos;NO-Oslo&apos;,
				{!$User.Division}  = &apos;NL-Almere&apos;
        ),

	ISPICKVAL({!myVariable_current.Status} , &apos;Resolved&apos;), 

	OR({!myVariable_current.RecordType.DeveloperName} =&apos;Keepitsafe_Record_Type&apos;,
               ISPICKVAL({!myVariable_current.Product__c} ,&apos;Send2Cloud&apos;)
        ),
	OR(
		ISBLANK({!myVariable_current.Contact.Last_Survey_Sent_Date__c}),
		
			Today() &gt; (({!myVariable_current.Contact.Last_Survey_Sent_Date__c} ) + 30)	
	),        
       
               NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;billinginquiries@keepitsafe.com&apos;)) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
        NOT( ISBLANK( [Case].ContactId ) ),
        NOT(ISBLANK($User.Division ) ),

        OR(
                $User.Division  = &apos;US-CA-Hollywood&apos;,
                $User.Division  = &apos;US-MA-Marlborough&apos;,
$User.Division  = &apos;IE-Dublin&apos;,
				$User.Division  = &apos;DK-Copenhagen&apos;,
				$User.Division  = &apos;NO-Oslo&apos;,
				$User.Division  = &apos;NL-Almere&apos;
        ),

	OR(
		ISPICKVAL([Case].Status , &apos;Resolved&apos;),
		ISPICKVAL([Case].Status , &apos;Closed&apos;)
	 ),
	AND(
               [Case].RecordType.DeveloperName =&apos;LiveVault_Case&apos;,
               NOT(ISPICKVAL([Case].Product__c ,&apos;Send2Cloud&apos;))
        ),
	OR(
		ISBLANK([Case].Contact.Last_Survey_Sent_Date__c),
		
			Today() &gt; (([Case].Contact.Last_Survey_Sent_Date__c ) + 30)	
	),

        NOT(ISPICKVAL([Case].Origin , &apos;billinginquiries@livevault.com&apos;) ),
        NOT(ISPICKVAL([Case].Origin , &apos;orders@livevault.com&apos;) )
) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
        NOT( ISBLANK( {!myVariable_current.ContactId} ) ),
        NOT(ISBLANK({!$User.Division} ) ),

        OR(
                {!$User.Division}  = &apos;US-CA-Hollywood&apos;,
                {!$User.Division}  = &apos;US-MA-Marlborough&apos;,
{!$User.Division}  = &apos;IE-Dublin&apos;,
				{!$User.Division}  = &apos;DK-Copenhagen&apos;,
				{!$User.Division}  = &apos;NO-Oslo&apos;,
				{!$User.Division}  = &apos;NL-Almere&apos;
        ),

	OR(
		ISPICKVAL({!myVariable_current.Status} , &apos;Resolved&apos;),
		ISPICKVAL({!myVariable_current.Status} , &apos;Closed&apos;)
	 ),
	AND(
               {!myVariable_current.RecordType.DeveloperName} =&apos;LiveVault_Case&apos;,
               NOT(ISPICKVAL({!myVariable_current.Product__c} ,&apos;Send2Cloud&apos;))
        ),
	OR(
		ISBLANK({!myVariable_current.Contact.Last_Survey_Sent_Date__c}),
		
			Today() &gt; (({!myVariable_current.Contact.Last_Survey_Sent_Date__c} ) + 30)	
	),

        NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;billinginquiries@livevault.com&apos;) ),
        NOT(ISPICKVAL({!myVariable_current.Origin} , &apos;orders@livevault.com&apos;) )
)</expression>
    </formulas>
    <interviewLabel>KeepItSafe_Send_Survey_Email_Close-10_InterviewLabel</interviewLabel>
    <label>KeepItSafe/LiveVault Send Survey Email Close</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Survey Sent Date/Time</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Sent Date / Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Sent_Date_Time__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_3158736960</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Contact ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Last Survey Sent Date</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Survey Sent Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Last_Survey_Sent_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_4593047876</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Survey Time Date Stamp</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Survey Sent Date / Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Survey_Sent_Date_Time__c</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_7449038867</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Contact ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Update Last Survey Sent Date From Contact</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_5_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Survey Sent Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Last_Survey_Sent_Date__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A2_1611355164</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
